html 
    head 
        title OAuth2/OpenID login demo
        style 
            include ../../public/style.css
    body
        h1 Table of competition
        ul 
            li: a(href='/', title='Home') Home
            li: a(href='/generateCompetition', title='generateCompetition') Generate competition   

        .grid-container
        div

        each comp in comps
            h2 #{comp.name}
            table 
                tr
                    td Teams: 
                    td Wins 
                    if comp.comptype == 1 
                        td Draws
                    td Losess
                    td Points
                - teams.sort(function (a,b) {return (a.points < b.points) ? 1 :  ((a.points > b.points) ? -1 : 0) })
                each team in teams
                    if team.id === comp.id
                        tr
                            td #{team.name}
                            td #{team.win}
                            
                            if comp.comptype === 1 
                                td #{team.draw}
                            td #{team.lose}
                            if 3*team.win+team.draw
                                td #{3*team.win+team.draw}
                            else 
                                td 0
            if comp.email==email
                form( action=`/editCompetition/id=${comp.id}` method="POST")
                    button(type="submit") Edit 
            else 
                button(disabled) Edit 
                            

        
            